.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}
.content{
    width: 70%;
    margin: auto;
}
.header{
    display: inline;
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.body{
    background-color: coral;
    background-image: url("system.jpj");
    background-color: greenyellow;
}
